[Unit]
Description=Clean up clutter from client installations

[Service]
User=alarm
ExecStart=/usr/bin/alarm_cleanup.sh

[Install]
WantedBy=default.target
