Package: alarm-central
Version: 1.4-2
Architecture: all
Maintainer: Marco Kühnel <kuehnel@codecivil.de>
Installed-Size: 44
Depends: pssh, inotify-tools
Section: unknown
Priority: optional
Homepage: https://www2.codecivil.de
Description: This is the package for the central server.
 It only distributes alarms and does so as daemon withpout requiring a login.
